* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: "Raleway", sans-serif;
  background: rgb(36, 35, 35);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header div{
  margin-top: 30px;
}

header h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  animation: textColor 4s ease infinite;
}
header p {
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
}

h1,
p{
  color: aquamarine;
}

header img{
  max-height: 300px;
  max-width: 300px;
}

.boxes {
  background: lightblue;
  width: 100%;
  display: flex;
}
.boxes > div {
  height: 100px;
  width: 100px;
  flex-direction: row;
  flex-grow: 1;
  cursor: pointer;
}
.box1 {
  background: #d36060;
}
.box2 {
  background: #d3d160;
}
.box3 {
  background: #60d394;
}
.box4 {
  background: #c060d3;
}
.box5 {
  background: #606bd3;
}
.box6 {
  background: lightsalmon;
}

@keyframes textColor {
  0% {
    color: #69b7eb;
  }
  50% {
    color: #b3dbd3;
  }
  100% {
    color: #f4d6db;
  }
}
